.roses {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
  background: linear-gradient(to bottom, #f9f9f9, #e0e0e0);
}

.rose {
  flex: 1 1 30%;
  margin: 20px;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.rose:hover {
  transform: scale(1.05);
}

.home__image {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 5px;
}

.roses-link {
  text-decoration: none;
  color: #2980b9;
  font-weight: bold;
}

.personal-intro {
  flex: 1 1 100%;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.about__title {
  font-family: "Lucida Handwriting", cursive;
  font-size: 2rem;
  margin-bottom: 20px;
  color: #2c3e50;
  text-align: center;
}

.about__description {
  font-size: 1.2rem;
  line-height: 1.8;
  max-width: 800px;
  margin: 0 auto 20px auto;
  color: #333;
  /* #686D76 */
}

.dark .about__title {
  font-size: 2.7rem;
  color: #FFD35A
}

.dark  .about__description {
  font-size: 1.2rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:    #686D76;
}